In [18]:
import pandas as pd
from scrape_reddit import *

In [14]:
pf_2009 = pd.read_csv('data\personalfinance_2009-01-01_2010-01-01.csv')
pf_2010 = pd.read_csv('data\personalfinance_2010-01-01_2011-01-01.csv')
pf_2011 = pd.read_csv('data\personalfinance_2011-01-01_2012-01-01.csv')
pf_2012 = pd.read_csv('data\personalfinance_2012-01-01_2013-01-01.csv')
pf_2013 = pd.read_csv('data\personalfinance_2013-01-01_2014-01-01.csv')
pf_2014 = pd.read_csv('data\personalfinance_2014-01-01_2015-01-01.csv')
pf_2015 = pd.read_csv('data\personalfinance_2015-01-01_2016-01-01.csv')
pf_2016 = pd.read_csv('data\personalfinance_2016-01-01_2017-01-01.csv')
pf_2017 = pd.read_csv('data\personalfinance_2017-01-01_2018-01-01.csv')
pf_2018 = pd.read_csv('data\personalfinance_2018-01-01_2019-01-01.csv')
pf_2019 = pd.read_csv('data\personalfinance_2019-01-01_2020-01-01.csv')
pf_2020_1 = pd.read_csv('data\personalfinance_2020-01-01_2020-07-01.csv')
pf_2020_2 = pd.read_csv('data\personalfinance_2020-07-01_2021-01-01.csv')

C:\Users\hp\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (29,30,31,32,33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\hp\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\hp\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (34) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\hp\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (50,51,52) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\hp\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,52,54,62,63,64,65,66,67,68,69,71,72,74,77,79,80,83,84,85,86,87,88,90,93) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\hp\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,68,69,70,71,72,73,78,80,81,84) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\hp\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (65,70,73,77) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [22]:
# Stack the DataFrames on top of each other
pf_2020 = pd.concat([pf_2020_1, pf_2020_2], axis=0)

In [23]:
pf_2020.head()

,all_awardings,allow_live_comments,author,author_flair_css_class,author_flair_richtext,author_flair_text,author_flair_type,author_fullname,author_patreon_flair,author_premium,...,treatment_tags,upvote_ratio,distinguished,suggested_sort,author_cakeday,url_overridden_by_dest,thumbnail_height,thumbnail_width,gilded,media_metadata
0,[],False,Anonymous20010,NaN,[],NaN,text,t2_1y7b7mnc,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[],False,crosstitchchampion,NaN,[],​,text,t2_4nnnj5hk,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,[],False,mechanicallyinsane,NaN,[],​,text,t2_bz4oz,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,[],False,newgradneedsjob,NaN,[],​,text,t2_yl40u,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,[],False,sanc13579,NaN,[],​,text,t2_11vn97,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
selected_columns(pf_2020).head()

,title,author,selftext,url,score,created_utc
0,My GF is really bad with her money,Anonymous20010,[removed],https://www.reddit.com/r/personalfinance/comme...,1,1584143253
1,Trade in car or keep?,crosstitchchampion,So we have a Jeep Grand Cherokee and we averag...,https://www.reddit.com/r/personalfinance/comme...,1,1584143188
2,"About to purchase my first home, should I cont...",mechanicallyinsane,"I am about to purchase my first home, the clos...",https://www.reddit.com/r/personalfinance/comme...,1,1584142847
3,How much should my SO charge me in rent?,newgradneedsjob,"I'm currently living with roommates, paying $8...",https://www.reddit.com/r/personalfinance/comme...,1,1584142824
4,Trump has waived student loan interest in resp...,sanc13579,[removed],https://www.reddit.com/r/personalfinance/comme...,1,1584142600

In [32]:
years = [i for i in range(2009, 2021)]
posts_per_year = [len(pf_2009),len(pf_2010),len(pf_2011),len(pf_2012),len(pf_2013),
                  len(pf_2012),len(pf_2015),len(pf_2016),len(pf_2017),len(pf_2018),
                 len(pf_2019),len(pf_2020)]

In [31]:
years

[2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [34]:
pd.DataFrame(posts_per_year,years)

           0
2009     102
2010     259
2011    4413
2012   11888
2013   25642
2014   11888
2015  116789
2016  138627
2017  165224
2018  164684
2019  169378
2020  180299

In [30]:
len(pf_2020)

180299